*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
  font-family: $font1;
  font-size: 16px;
  line-height: 1.5;
  color: $color4;
  &.menu-open {
    overflow: hidden;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color1;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 100;
  font-family: $font2;
  line-height: 1.2;
  @media (max-width: $screen-lg-max) {
    margin-top: 22px;
  margin-bottom: 22px;
  }
  @media (max-width: $screen-md-max) {
    margin-top: 18px;
    margin-bottom:18px;
  }
  @media (max-width: $screen-sm-max) {
    margin-top: 12px;
  margin-bottom: 12px;
  }
}

h1 {
  font-size: 32px;
  color: black;
  margin-top: 24px;
  font-weight: 400;
  letter-spacing: 0.5px;
  @media (max-width: $screen-lg-max) {
    font-size: 28px;
  }
  @media (max-width: $screen-md-max) {
    font-size: 24px;
  }
  @media (max-width: $screen-sm-max) {
    font-size: 20px;
  }
}
h2 {
  font-size: 28px;
  color: $color1;
  font-weight: 400;
  text-align: center;
  @media (max-width: $screen-lg-max) {
    font-size: 25px;
  }
  @media (max-width: $screen-md-max) {
    font-size: 24px;
  }
  @media (max-width: $screen-sm-max) {
    font-size: 20px;
  }
}

h3 {
  font-size: 24px;
  color: $color2;
  @media (max-width: $screen-lg-max) {
    font-size: 22px;
  }
  @media (max-width: $screen-md-max) {
    font-size: 20px;
  }
  @media (max-width: $screen-sm-max) {
    font-size: 18px;
  }
}

h4 {
  font-size: 1rem;
}

ul {
  padding-left: 20px;
  list-style: disc;
  li {
    margin-bottom: 15px;
    color: $color4;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

p + .btn {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

