
// ----------------------- MAIN COLORS ----------------------- //

$black: #000;
$white: #fff;

$color1: #3129b9; 
$color2: #000;
$color3: #000;
$color4: #333b6f;

$btn-color1:black;
$btn-color2:blue;

//these are set dynamic based on the contrast 
$btn-text-light: #fff;
$btn-text-dark: #000;

$font1: 'Montserrat', sans-serif;
$font2: 'Montserrat', sans-serif;

$shadow1:rgba(149, 157, 165, 0.2) 0px 8px 24px;

$header-height-mobile: 84px;

// ----------------------- SIZES ----------------------- //

$screen-xs-max: 576px;
$screen-sm-max: 768px; 
$screen-md-max: 992px;
$screen-lg-max: 1199px;
$screen-xl-max: 1340px;
$screen-xxl-max: 1400px;

// ----------------------- BOOTSTRAP  ----------------------- //

$max-container-width: 1408px;
$gutter: 13.5px;
